/* цвет основного текста #212121 */
/* вторичный цвет текста  #757575 */
/* черный #000000  */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* цвет навигации в footer rgba(255, 255, 255, 0.6); */
/* цвет основного фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA*/

/* Задаем переменные цветов нашего сайта */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --cursor-button: pointer;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Утилиты */
/* 1. Изменение в ссылках */
.link {
  color: inherit;

  font-style: normal;
  text-decoration: none;
}

/* 2. Точки и отступы в списках ul */
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* 3. Убирает заголовки */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* 4. Сброс h1-h6, ul, p */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
}

/* 5. Контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* 6. Отступы секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* 7. Img */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Main nav */
.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

/* Logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-interactive {
  color: var(--accent-color);
}

/* Site nav */
.top-navigation {
  display: flex;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}

/* Верхнии контакты */
.top-connection {
  display: flex;
  margin-left: auto;
}
.top-connection .item + .item {
  margin-left: 50px;
}
.top-connection .contacts,
.top-connection .contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.top-connection .contacts:hover,
.top-connection .contacts:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;

  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: var(--cursor-button);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* О нас */
.about-us {
  padding-top: 94px;
}
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-us-text {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.about-us-element {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.about-us-element h3 {
  margin-bottom: 10px;
}
.about-us-text p {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Загловки h2 в веб-студия */
.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наши работы */
.our-works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.our-works-element {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

/* Наша команда */
.our-team {
  background: var(--secondary-background-color);
}
.team-specialty {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-member {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-specialty p {
  margin: 0;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  padding: 0;
  display: block;
  margin-bottom: 20px;
}
.studio-white {
  color: #ffffff;
}
.studio-white:hover,
.studio-white:focus {
  color: var(--accent-color);
}
.bottom-link .maps {
  color: #ffffff;
}
.bottom-link .mail {
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;
}
.bottom-link .mail,
.bottom-link .tel {
  color: rgba(255, 255, 255, 0.6);
}
.bottom-link .maps,
.bottom-link .mail,
.bottom-link .tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.maps:hover,
.mail:hover,
.tel:hover,
.maps:focus,
.mail:focus,
.tel:focus {
  color: var(--accent-color);
}

/* Сайт портфолио */

/* Список фильтров */
.filter-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list:not(:last-child) {
  margin-right: 8px;
}
.button-menu {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: var(--cursor-button);
}
.button-menu:hover,
.button-menu:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Наши проекты */
.projects-list {
  width: 100%;
  max-width: 1200px;
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  max-height: 404px;
  font-size: 24px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex: 1 1 calc(33.33% - 30px);
}
.projects-item:nth-of-type(3n) {
  margin-right: 0;
}
.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-title {
  margin: 0 0 4px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-list p {
  margin: 0;

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
